.mainContainer {
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
}
.topContainer {
  display: flex;
}
.topContainer div {
  flex: 1 1 0px;
}

.songAndArtistName {
  text-align: center;
  color: white;
  line-height: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mySongName {
  margin: 0;
  font-size: 25px;
  font-weight: 400;
}
.myArtistName {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

.albumArtContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
}
.albumArt {
  height: 220px;
}

.bottomContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 30px;
}

.playPauseIcon {
  width: 25px;
  margin-right: 20px;
}

.timelineContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
input[type="range"] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  align-self: center;
  border-radius: 30px;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #4f4f4f;
  border-radius: 30px;
}
input[type="range"]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 30px;
  background: #4f4f4f;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
