.ogContainer {
  color: white;
  display: flex;
}

.ogRainbowContainer {
  position: relative;
}
.circle {
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  width: 100%;
}
.circle:nth-child(1) {
  height: 280px;
  width: 280px;
}
.circle:nth-child(2) {
  height: 260px;
  width: 260px;
  margin: 10px;
}
.circle:nth-child(3) {
  height: 240px;
  width: 240px;
  margin: 20px;
}
.circle:nth-child(4) {
  height: 220px;
  width: 220px;
  margin: 30px;
}
.circle:nth-child(5) {
  height: 200px;
  width: 200px;
  margin: 40px;
}
.circle:nth-child(6) {
  height: 180px;
  width: 180px;
  margin: 50px;
}
.circle:nth-child(7) {
  height: 160px;
  width: 160px;
  margin: 60px;
}

.red {
  background-color: red;
}
.orange {
  background-color: orange;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.violet {
  background-color: violet;
}
.black {
  background-color: black;
}
