.ogContainer {
  color: white;
  display: flex;
  justify-content: space-between;
}

.ogRainbowContainer {
  position: relative;
  width: 280px;
}
.circle {
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  width: 100%;
}
.circle:nth-child(1) {
  height: 280px;
  width: 280px;
}
.circle:nth-child(2) {
  height: 250px;
  width: 250px;
  margin: 15px;
}
.circle:nth-child(3) {
  height: 220px;
  width: 220px;
  margin: 30px;
}
.circle:nth-child(4) {
  height: 190px;
  width: 190px;
  margin: 45px;
}
.circle:nth-child(5) {
  height: 160px;
  width: 160px;
  margin: 60px;
}
.circle:nth-child(6) {
  height: 130px;
  width: 130px;
  margin: 75px;
}
.circle:nth-child(7) {
  height: 100px;
  width: 100px;
  margin: 90px;
}

.innerCircleTextContainer {
  width: 280px;
  height: 280px;
  display: flex;
  align-items: center;
  position: absolute;
}
.innerCircleText {
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  text-shadow: 0px 0px 10px #000000;
}
.outerCircleTextContainer {
  position: absolute;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: right;
  right: 260px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.396);
  font-weight: 400;
}
.octMiddle {
  margin-right: 25px;
}

.trackInfoContainer {
  display: flex;
  flex-direction: column;
  height: 280px;
  justify-content: center;
  text-align: right;
  position: absolute;
  right: 15px;
}
.trackInfoContainer p {
  margin: 0;
  line-height: 0.9;
}

.ogSongName {
  font-size: 25px;
  font-weight: 400;
}
.ogArtistName {
  font-size: 20px;
  font-weight: 600;
}
