@import url("https://fonts.googleapis.com/css?family=DM+Sans:800,600,400,200");

body {
  background-color: #111111;
  -webkit-tap-highlight-color: transparent;
  font-family: "DM Sans";
}

.tabSwitchContainer {
  display: flex;
  color: rgb(170, 170, 170);
  width: 100%;
  justify-content: center;
  gap: 25px;
  align-items: center;
}

.uiTabButton {
  background-color: #111111;
  padding: 10px;
  border-radius: 10px;
  font-size: 10px;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
.tabSelected {
  background-color: #202020;
}
.redLine {
  height: 30px;
  width: 5px;
  background-color: rgb(173, 43, 43);
  border-radius: 20px;
}
